body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}
.centered_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #1890ff, #87e8de);
}
.form_container {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.form_container > h1 {
  color: #1890ff;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
}
button {
  width: 100%;
  font-size: 16px;
}


.global_counts_button{
  position: absolute;
  top: 10px;
  left: 10px;
  width: fit-content;
  text-align: center;
  border: 2px solid rgb(76, 76, 76);
}